<ion-view view-title="Pedidos">
  <ion-content>
    <ion-list ng-hide="user">
	    <div class="item item-divider">Facebook</div>
	    <div class="item item-body">
          <div>
	        Inicia sesion en facebook para guardar tu direccion
	      </div>
	    </div>
      <button class="button button-assertive" ng-click="login()">
        Facebook
      </button>
      <button class="button button-assertive" ng-click="redirect()">
        Twitter
      </button>
    </ion-list>

    <div class="list card">

      <div class="item">
        <h1>Bienvenido</h1>
        <h2>{{user.facebook.displayName}}</h2>
      </div>

      <div class="item item-thumbnail-left ">
        <img ng-src={{user.facebook.profileImageURL}}>
        <p>Danos tu direccion</p>

        <div class="list">
          <label class="item item-input item-stacked-label">
          <span class="input-label">Calle</span>
          <input type="text" placeholder="38">
          </label>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Carrera</span>
          <input type="text" placeholder="13e">
          </label>
          <label class="item item-input item-stacked-label">
          <span class="input-label">#Numero</span>
          <input type="text" placeholder="#38-102">
          </label>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Barrio</span>
          <input type="text" placeholder="La granja">
          </label>
        </div>

      </div>

      <button class="button button-block button-assertive" ng-click="redirect()">
        Continuar
      </button>

    </div>


  </ion-content>
</ion-view>
