<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Pedidos" icon-off="ion-android-cart" icon-on="ion-android-cart assertive" href="#/tab/pedidos">
    <ion-nav-view name="tab-pedidos"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Platos" icon-off="ion-pizza" icon-on="ion-pizza assertive" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Cuenta" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear assertive" href="#/tab/cuenta">
    <ion-nav-view name="tab-cuenta"></ion-nav-view>
  </ion-tab>


</ion-tabs>
